---
# tasks file for firefox-autoconfig

- name: Set firefox_user
  when: firefox_user is not defined
  block:
    - name: Get currently installed username
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          cut -d: -f1,3 /etc/passwd | egrep ':[0-9]{4}$' | cut -d: -f1 | head -n 1
      args:
        executable: /bin/bash
      register: _firefox_user
      changed_when: false

    - name: Set user to be used for customization
      ansible.builtin.set_fact:
        firefox_user: "{{ _firefox_user.stdout }}"

- name: Remove .mozilla/firefox/ folder
  become: true
  ansible.builtin.file:
    path: /home/{{ firefox_user }}/.mozilla/firefox/
    state: absent

- name: Kill running firefox processes
  become: true
  ansible.builtin.command:
    cmd: killall firefox
  failed_when: false

- name: Add custom syspref.js to activate auto config
  become: true
  ansible.builtin.copy:
    src: "{{ firefox_syspref }}"
    dest: /etc/firefox/syspref.js
    mode: "0644"

- name: Read the CA certificates file
  ansible.builtin.command:
    cmd: cat {{ firefox_trusted_certs_file }}
  register: certs_lines

- name: Join certificate lines into a single string
  ansible.builtin.set_fact:
    certs_string: "{{ certs_lines.stdout_lines | join('') }}"

- name: Extract individual certificates into a list
  ansible.builtin.set_fact:
    firefox_trusted_certs: "{{ certs_string | regex_findall('-----BEGIN CERTIFICATE-----.+?-----END CERTIFICATE-----', multiline=True) }}"

- name: Add custom mozilla.cfg containing auto config
  become: true
  ansible.builtin.template:
    src: "{{ firefox_autoconfig }}"
    dest: /usr/lib/firefox/mozilla.cfg
    mode: "0644"

- name: Set firefox distribution content
  ansible.builtin.set_fact:
    firefox_distribution_template_content: "{{ lookup('template', firefox_distribution_template) }}"
  when: firefox_distribution_append

- name: Append custom distribution.ini
  become: true
  ansible.builtin.blockinfile:
    dest: /usr/lib/firefox/distribution/distribution.ini
    content: "{{ firefox_distribution_template_content }}"
    state: present
    create: true
  when: firefox_distribution_append

- name: Add custom distribution.ini for bookmarks and such
  become: true
  ansible.builtin.template:
    src: "{{ firefox_distribution_template }}"
    dest: /usr/lib/firefox/distribution/distribution.ini
  when: not firefox_distribution_append

- name: Create firefox config directory in user home
  become: true
  ansible.builtin.file:
    path: "{{ firefox_config_dir }}"
    state: directory
    mode: "0755"
    owner: "{{ firefox_user }}"
    group: "{{ firefox_user }}"

- name: Create firefox profile directory in user home
  become: true
  ansible.builtin.file:
    path: "{{ firefox_config_dir }}/profile.{{ item }}"
    state: directory
    mode: "0755"
    owner: "{{ firefox_user }}"
    group: "{{ firefox_user }}"
  loop: "{{ ['default'] + firefox_profile_names | default([]) }}"

#add profiles.ini and xulstore.json to control things such as bookmarks bar beeing enabled
#cannot do this via mozilla.cfg as xulstore.json is already loaded into memory when mozilla.cfg is parsed

- name: Add custom installs.ini
  become: true
  ansible.builtin.template:
    src: "{{ firefox_installs_ini }}"
    dest: "{{ firefox_config_dir }}/installs.ini"
    mode: "0644"
    owner: "{{ firefox_user }}"
    group: "{{ firefox_user }}"

- name: Add custom profiles.ini
  become: true
  ansible.builtin.template:
    src: "{{ firefox_profiles_ini }}"
    dest: "{{ firefox_config_dir }}/profiles.ini"
    mode: "0644"
    owner: "{{ firefox_user }}"
    group: "{{ firefox_user }}"

- name: Add custom xulstore.json
  become: true
  ansible.builtin.copy:
    src: "{{ firefox_xulstore }}"
    dest: "{{ firefox_config_dir }}/profile.{{ item }}/xulstore.json"
    mode: "0644"
    owner: "{{ firefox_user }}"
    group: "{{ firefox_user }}"
  loop: "{{ ['default'] + firefox_profile_names | default([]) }}"

- name: Patch firefox.sh to auto-select VNC profile based on DISPLAY
  become: true
  ansible.builtin.replace:
    path: /usr/lib/firefox/firefox.sh
    backup: true
    regexp: ^.+exec \$MOZ_LIBDIR/\$MOZ_APP_NAME.*$
    replace: '    exec $MOZ_LIBDIR/$MOZ_APP_NAME --no-remote -P "vnc$(echo "$DISPLAY" | tr -d :)" "$@"'
