{# this template converts json/python dicts into ini format #}
{# assumes a dict where top level keys are the ini sections and values are key,value pairs #}
{% if context() %}
{% for section, entries in context().get_all().items() %} 
{% if not callable(entries) %}
[{{section}}]
{% for key,value  in entries.items() %}
{{key}}={{value}}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

